<div style="width: 100%; text-align: center;margin-top:50px">
    <img src="~/Content/Images/house.png" style="height:300px"/>
    <br />
    <img src="~/Content/Images/middle.png" style="margin-top:50px" />
</div>