@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>饭店会员管理系统登录</title>
    <link rel="stylesheet" type="text/css" href="~/Content/BootStrap/bootstrap-theme.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/BootStrap/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Login.css" />
    <script type="text/javascript" src="~/Content/Scripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="~/Content/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <div id="main_layout">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <img src="~/Content/Images/title.png" style="width: 25px; height: 25px" />
                    <b>系统登录</b>
                </h3>
            </div>
            <div class="div-panel-content">
                <div class="row">
                    <div class="col-md-12 col-md-margin">
                        <div class="input-group">
                            <span class="input-group-addon bg_pwd">
                                <img src="~/Content/Images/account.png" />
                            </span>
                            <input type="text" id="userno" autofocus="autofocus" class="form-control" maxlength="50" placeholder="请输入管理员账号" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-md-margin">
                        <div class="input-group">
                            <span class="input-group-addon bg_pwd">
                                <img src="~/Content/Images/pwd.jpg" />
                            </span>
                            <input type="password" id="password" class="form-control" maxlength="50" placeholder="请输入密码" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-margin">
                        <div class="col-md-9">
                            <div class="input-group">
                                <span class="input-group-addon bg_pwd">
                                    <img src="~/Content/Images/validate.png" />
                                </span>
                                <input id="validatecode" type="text" class="form-control" placeholder="请输入验证码" maxlength="5">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <img id="imgcode" src="~/HttpHandler/ValidateCodeCreate.ashx" onclick="refreshValidateCode()" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-md-margin" style="text-align: center; margin-bottom: 10px">
                        <button type="button" id="btnlogin" class="btn btn-primary">登录</button>
                        <button type="button" id="btncancel" class="btn btn-primary">取消</button>
                    </div>
                </div>
                <div id="loginstatus" class="col-md-12 col-md-margin" style="text-align: center; display: none">
                    <img src="~/Content/Images/loading.gif" />
                    <label>正在登录，请稍候......</label>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="~/Content/Scripts/page/login.js"></script>
    </div>
</body>
</html>
