
@{
    ViewBag.Title = "Consume";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="customer" class="margin-t10">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                <label>消费结算</label>
            </h3>
        </div>
        <div class="panel-content">
            <div class="row">
                <div class="col-md-1">
                    <label>用户名：</label>
                </div>
                <div class="col-md-7">
                    <input id="customerId" type="text" class="form-control" maxlength="10" placeholder="输入会员手机号快速检索" />
                    <input type="hidden" id="hfdCustomerId" />
                </div>
            </div>
            <div class="row margin-t10">
                <div class="col-md-1">
                    <label>姓名：</label>
                </div>
                <div class="col-md-7">
                    <input id="customerName" type="text" class="form-control" readonly />
                </div>
            </div>
            <div class="row margin-t10">
                <div class="col-md-1">
                    <label>余额：</label>
                </div>
                <div class="col-md-7">
                    <input id="amount" type="text" class="form-control" readonly style="color:red" />
                </div>
            </div>
            <div class="row margin-t10">
                <div class="col-md-1">
                    <label>消费金额：</label>
                </div>
                <div class="col-md-7">
                    <input id="balanceAmount" type="number" class="form-control" min="0.01" step="0.01" style="color:blue" />
                </div>
            </div>
            <div class="row margin-t10">
                <div class="col-md-1">
                    <label>消费明细：</label>
                </div>
                <div class="col-md-7">
                    <textarea id="detail" rows="4" style="resize:none" class="form-control"></textarea>
                </div>
            </div>
            <div class="row margin-t10">
                <div class="col-md-offset-1 col-md-7">
                    <input type="text" id="dishinput" placeholder="输入菜品名称快速检索" class="form-control" />
                </div>
            </div>
            <div class="row margin-t10">
                <div class="col-md-offset-1 col-md-7">
                    <button id="btnBalance" type="button" class="btn btn-primary">结算</button>
                    <button id="btnCancel" type="button" class="btn btn-warning">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("~/Views/Customer/DishesList.cshtml")
<script type="text/javascript" src="~/Content/Scripts/page/customer.consume.js"></script>
<link rel="stylesheet" href="~/Content/Scripts/autocomplete/jquery-ui.min.css" />
<script type="text/javascript" src="~/Content/Scripts/autocomplete/jquery-ui.min.js"></script>
