<div class="modal fade" id="dishesModal" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static" aria-labelledby="rechargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="rechargeModalLabel">
                    <img src="~/Content/images/menu/Salad.png" style="width:30px" />&nbsp;菜品列表
                </h4>
            </div>
            <div class="modal-body">
                <div id="dishList" style="overflow:scroll;height:400px">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="setSelectDish()" class="btn btn-primary">
                    确定
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<script type="text/javascript">
    jQuery(document).ready(function () {
        $.get('@Url.Action("DishesGroup", "System")', { pageSize: 5000 },
            function (result) {
                if (!result || result.length == 0) return;

                let index = 0;
                for (let category of result) {
                    $('#dishList').append('<div class=\'row\'>');
                    $('#dishList').append('<label class=\'col-md-12\'' + 'style=\'color:blue;font-size:16px;margin-top:'+(index>0? '20':'0')+'px\'>' + category.CategoryName + '</label>');
                    $('#dishList').append('</div>');

                    if (category.DishList && category.DishList.length > 0) {
                        $('#dishList').append('<div class=\'row\'>');
                        for (let dish of category.DishList) {
                            $('#dishList').append('<div class=\'col-md-4\'><input id=\'dish_'
                                + dish.ID + '\' type=\'checkbox\' value=\''
                                + dish.ID + '\'/><label for=\'dish_'
                                + dish.ID + '\'>'
                                + dish.Name + '</div>');
                        }

                        $('#dishList').append('</div>');
                    }

                    index +=1;
                }
        });
    });

    function setSelectDish() {
        var checkedElements = $("input:checked");
        var selectedDish = '';
        checkedElements.each(function () {
            selectedDish += ','+$(this).next("label").html();
        });

        if (selectedDish.length >= 1) {
            selectedDish = selectedDish.substring(1, selectedDish.length);
        }

        if ($('#detail').val()) {
            $('#detail').val($('#detail').val() + ',' + selectedDish);
        }
        else {
            $('#detail').val(selectedDish);
        }

        checkedElements.each(function () {
            $(this).prop('checked',false)
        });
        $('#dishesModal').modal('hide');
    }
</script>