@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/Content/Bootstrap/validator/css/bootstrapValidator.min.css" />
<script type="text/javascript" src="~/Content/Bootstrap/validator/js/bootstrapValidator.min.js"></script>
<div id="div_ModifyPwd" class="margin-top-10">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                <label>修改密码</label>
            </h3>
        </div>
        <div class="div-panel-content">
            <form action="@Url.Action("UpdatePassword","Users")" method="put">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>原密码：</label>
                        <input type="password" name="orgPassword" class="form-control" maxlength="50" />
                    </div>
                    <div class="form-group margin-t5">
                        <label>新密码：</label>
                        <input type="password" name="newPassword" class="form-control" maxlength="50" />
                    </div>
                    <div class="form-group margin-t5">
                        <label>重复密码：</label>
                        <input type="password" name="rePassword" class="form-control" maxlength="50" />
                    </div>
                    <div class="margin-t10">
                        <input type="submit" class="btn btn-primary" value="保存" />
                        <input type="button" class="btn btn-default" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('form').bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                orgPassword: {
                    validators: {
                        notEmpty: {
                            message: '原密码不能为空'
                        }
                    }
                },
                newPassword: {
                    validators: {
                        notEmpty: {
                            message: '新密码不能为空'
                        }, regexp: {
                            regexp: /^[a-zA-Z0-9\.]+$/,
                            message: '只能是数字或字母'
                        },
                        stringLength: {
                            min: 6,
                            max: 10,
                            message: '密码长度必须在6到10之间'
                        }
                    }
                },
                rePassword: {
                    validators: {
                        notEmpty: {
                            message: '重复密码不能为空'
                        }
                    }
                }
            }
        }).on('success.form.bv', function (e) {//点击提交之后
            e.preventDefault();
            $.ajax({
                url: $form.attr('action'),
                type: 'put',
                data: { password: $('#') },
                success: function (result) {
                    if (result.IsSuc) {
                        alert("修改成功，请重新登录！");
                        window.location.href = @Url.Action("Login", "Home");
                    }
                    else {
                        alert(data.Msg);
                    }
                }
            });
        });
    });
</script>

